<div class="container">
 <div class="row">
  <h5 class="px-3 mx-auto">
  こんにちは！<br>
  ここでは皆さんのペット自慢ができます！<br>
  かわいい瞬間の動画や写真を投稿してください。<br>
  会員登録をしなくても投稿一覧は見れますが、<br>
  コメントやいいねを残すことはできません。
  </h5>
 </div>
</div>