<h2>検索結果 "<%= @keyword %>"</h2>
 <table>
     <tr>
      <th></th>
      <th>ユーザ</th>
     </tr>
      <% @users.each do |user| %>
     <tr>
      <td>
        <%= link_to user_path(user.id) do %>
        <%= attachment_image_tag user, :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpeg" %>
        <% end %>
      <td>
      <td><%= user.owner_name %></td>
     </tr>
    <% end %>
   </table>